# DB URL (Prisma connection string)
DATABASE_URL="postgresql://username:password@hostname:5432/dbname?sslmode=require"

# Server Port
PORT=4000

# JWT Authentication Secret Key
JWT_SECRET="your_jwt_secret_key_here"

# App Frontend URL (For QR Code generators)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Cloudinary Integration (Free Tier)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
